*{
    margin:0px;
    padding:0px;
}
.top{
    height: 80px;
    display :flex;
    align-items: center;
    justify-content:space-between;
    background-color: white;
    padding: 0 50px;
    border-bottom: 1px solid #e5e5e5;
}
a{
    text-decoration: none;
}
.top nav{
    display:flex;
   font-family: Arial, Helvetica, sans-serif;
    gap:30px;
    

}

.logo{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}