<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
<link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <header class="top">
        <div class="logo">CampusMart</div>
        <nav>
            <a href="index.html">Home</a>
            <a href="marketplace.html">Marketplace</a>
            <a href="sell.html">Sell/Rent</a>
            <a href="lost_found.html">Lost and Found</a>
         </nav>
         <button class="login-btn">Login</button>

    </header>
    <main>
        <section class="main">
            <h1>Your Campus.Your Marketplace</h1>
            <p1>Buy,Sell Rent  and recover <br>
                resources within your Campus.
            </p1>
        <div class="top-btn">
            <a href="marketplace.html">Explore Marketplace</a>
            <a href="sell.html">Sell an item</a>
        </div>
        </section>
    </main>

</body>
</html>