<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
<link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>
    <header class="top">
        <div class="logo">🛍️Campusmart</div>
        <nav>
            <a href="index.html">Home</a>
            <a href="marketplace.html">Marketplace</a>
            <a href="sell.html">Sell/Rent</a>
            <a href="lost_found.html">Lost and Found</a>
         </nav>
         <div class="buttons">
         <button>Login</button>
         <button>Sign up</button>
         </div>

    </header>
        <section class="main">
            <h1>Smart Campus,<br>
                 Smarter Connections.</h1>
            <p>Buy,Sell Rent  and discover items within your Campus community <br>
               or help someone find what they've lost.<br>
            </p>
            <p>  All in one smart platform.</p>
            <div class="image">
                <img src ="background.png" alt="background">
            </div>
       
       
         <div class="top-btn">
            
            <button><a href="marketplace.html">👜 Explore Marketplace</a></button>
            <button><a href="sell.html">Go to Lost &Found</a></button>
         </div>
         <div class="trusted">
          
         </div>
         </section>
         <section class="boxes">
            <div class="box">
                <div class="box-content">
                <h2>🛒 Marketplace</h2>
                <h4>Buy,Sell & Rent</h4>
                <p>Find anything you need or list items you no longer<br>
                use.From books to bikes,we've got you covered. </p>
                <button class="explore">
                    <a href="marketplace.html">Explore Marketplace -></a>
                </button>
                </div>
                <div class="mimage">
                    <img src="marketplaceimg.png" alt="images">
                </div>
                
                
            </div>
            <div class="box">
                <div class="box-content">
                <h2>Lost & Found</h2>
                <h4>Lost or Found Something?</h4>
                <p>Report lost items or help others by reporting<br>
                    found items.Reunite and make a difference</p>
                    <button class="explore">
                        <a href="lost_found.html">Go to Lost and Found -></a>
                    </button>
                    </div>
                    <div class="mimage">
                        <img src="lostimg.png" alt="images">
                    </div>
            </div>
         </section>
         <footer>
            <div class="end">
            <p><b>Smart Campus hub-</b>Connecting our Campus,one item at a time🎓</p>
            
            </div>
         </footer>


</body>
</html>