<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header class="top">
        <div class="logo">🛍️Campusmart</div>
        <nav>
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('marketplace') }}">Marketplace</a>
            <a href="{{ url_for('sell') }}">Sell/Rent</a>
            <a href="{{ url_for('lost_found') }}">Lost and Found</a>
         </nav>
         <div class="buttons">
         <button>Login</button>
         <button>Sign up</button>
         </div>

    </header>
        <section class="main">
            <h1>Smart Campus,<br>
                 Smarter Connections.</h1>
            <p>Buy,Sell Rent  and discover items within your Campus community <br>
               or help someone find what they've lost.<br>
            </p>
            <p>  All in one smart platform.</p>
            <div class="image">
                <img src ="{{ url_for('static', filename='images/background.png') }}" alt="background">
            </div>
       
       
         <div class="top-btn">
            
            <button><a href="{{ url_for('marketplace') }}">👜 Explore Marketplace</a></button>
            <button><a href="{{ url_for('lost_found') }}">Go to Lost &Found</a></button>
         </div>
         <div class="trusted">
          
         </div>
         </section>
         <section class="boxes">
            <div class="box">
                <div class="box-content">
                <h2>🛒 Marketplace</h2>
                <h4>Buy,Sell & Rent</h4>
                <p>Find anything you need or list items you no longer<br>
                use.From books to bikes,we've got you covered. </p>
                <button class="explore">
                    <a href="{{ url_for('marketplace') }}">Explore Marketplace -></a>
                </button>
                </div>
                <div class="mimage">
                    <img src="{{ url_for('static', filename='images/marketplaceimg.png') }}" alt="images">
                </div>
                
                
            </div>
            <div class="box">
                <div class="box-content">
                <h2>Lost & Found</h2>
                <h4>Lost or Found Something?</h4>
                <p>Report lost items or help others by reporting<br>
                    found items.Reunite and make a difference</p>
                    <button class="explore">
                        <a href="{{ url_for('lost_found') }}">Go to Lost and Found -></a>
                    </button>
                    </div>
                    <div class="mimage">
                        <img src="{{ url_for('static', filename='images/lostimg.png') }}" alt="images">
                    </div>
            </div>
         </section>
         <footer>
            <div class="end">
            <p><b>Smart Campus hub-</b>Connecting our Campus,one item at a time🎓</p>
            
            </div>
         </footer>


</body>
</html>