<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lost and found</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="top">
        <div class="logo">CampusMart</div>
        <nav>
            <a href="index.html">Home</a>
            <a href="marketplace.html">Marketplace</a>
            <a href="sell.html">Sell/Rent</a>
            <a href="lost_found.html">Lost and Found</a>
         </nav>
         <button class="login-btn">Login</button>

    </header>
    <main>
        <h1>Lost & Found</h1>
        <p1>report or find lost item in your campus</p1><br>
        <buttons class="lost-btn">
            <button>All items</button>
            <button>Lost</button>
            <button>Found</button>
        </buttons>
    </main>
</body>
</html>